/* Global */
:root {
  /* Color */
  --clr-white: #ffffff;
  --clr-light-white: #eeeeee;
  --clr-dark-white: #dfdfde;
  --clr-light-turquoise: #b6e4e698;
  --clr-turquoise: #aaebed;
  --clr-dark-turquoise: #86b9ba;
  --clr-dark-gray: #4d4d4d;
  --clr-gray: #616161;
  --clr-light-gray: #7c7979;
  --clr-blue: #73aace;
  --clr-light-pink: #f599d9ab;
  --clr-light-orange: #ffefe3;
  --clr-orange: #feb546;
  --clr-black: #000000;

  /* Font size */
  --font-xlarge: 3.2rem;
  --font-large: 2.6rem;
  --font-regular: 2rem;
  --font-small: 1.4rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--clr-white);
  font-family: 'Open Sans', sans-serif;
}

/* Typography */
h1 {
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 12px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 6px 0;
}

strong {
  font-size: inherit;
  font-weight: var(--weight-bold);
  line-height: 1.8;
}

/* common style */
.underline {
  width: 100%;
  height: 1px;
  margin: 13px 0;
  border: 1px solid var(--clr-light-white);
  background-color: var(--clr-light-white);
}

.sub-tit {
  padding-left: 1.2rem;
  border-radius: 6px;
  background-color: var(--clr-light-turquoise);
  line-height: 2;
  color: var(--clr-white);
}

/* temp style */
.module {
  width: inherit;
  height: 100%;
  border: 1px solid red;
}

/* content container */
#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

/* Header */
#header {
  width: 714px;
  padding-top: 80px;
  margin: 0 auto;
}

/* Navbar */
#navbar {
  display: none;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-black);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar-dark {
  background-color: var(--color-turquoise);
  padding: 8px;
  z-index: 1;
}

.menu {
  display: flex;
}

.menu-item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.menu-item.active {
  background-color: var(--color-dark-turquoise);
}

.menu-item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-turquoise);
}

.toggle-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  font-size: 24px;
  color: var(--color-white);
}

/* main */
#main {
  width: 714px;
  margin: 0 auto;
}

/* Intro */
#intro {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.profile-container {
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5rem;
  align-items: center;
}

.profile-container img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
}

.contacts_and_channels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.contacts h3,
.channels h3 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 2rem;
}

.contacts .contacts-items li,
.channels .channels-items li {
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.channels-items .channels-link a {
  font-size: var(--font-small);
  margin-right: 0.8rem;
}

/* About */
#about {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.about-container {
  padding: 5px 0;
}

.about-container .greeting {
  margin-left: 3rem;
  font-weight: var(--weight-semi-bold);
}

.about-container .desc-items li {
  margin: 2rem 3rem;
  line-height: 1.4;
}

/* Projects */
#projects {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.projects-container {
  padding: 5px 0;
}

.projects-container .project-unit {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5rem;
  align-items: center;
}

.project-unit .project-thumbnail {
  width: 22rem;
  border-radius: 6px;
}

.project-unit .project-used-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-unit .project-used-skills p {
  margin: 0.6rem 0.4rem;
  padding: 0.6rem;
  border-radius: 6px;
  background-color: var(--clr-light-pink);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  color: var(--clr-white);
}

.project-unit .project-link,
.other-experience-unit .other-experience-link {
  margin-top: 1.6rem;
  display: block;
  text-align: end;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--clr-blue);
  text-decoration: underline;
}

.project-unit .project-id,
.other-experience-unit .other-experience-id {
  display: flex;
  flex-direction: row;
}

.project-unit .project-tit,
.other-experience-unit .other-experience-tit {
  margin-right: 2rem;
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  line-height: 1.2;
}

.project-unit .solo_or_team {
  display: inline-block;
  padding: 0.6rem;
  text-align: center;
  border-radius: 6px;
  background-color: var(--clr-orange);
  line-height: 1.6;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  color: var(--clr-black);
}

.project-unit .project-period {
  margin-left: 0.4rem;
  margin-bottom: 1.8rem;
}

.project-unit .project-details li,
.other-experience-unit .other-experience-details li {
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: var(--font-small);
  line-height: 1.4;
}

/* Experience */
#experience {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.experience-container {
  padding: 5px 0;
}

.experience-container .experience-unit {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5rem;
}

.experience-unit .experience-intro {
  width: 22rem;
  margin-left: 2rem;
}

.experience-unit .job-id {
  margin-bottom: 3rem;
}

.experience-unit .job-id .job-company {
  margin-bottom: 2rem;
  font-weight: var(--weight-semi-bold);
}

.experience-unit .job-id .job-period {
  line-height: 1.4;
}

.experience-unit .job-desc .job-role {
  margin-bottom: 2rem;
  font-weight: var(--weight-semi-bold);
}

/* Other Experience */
#other-experience {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.other-experience-container .other-experience-unit {
  display: block;
  margin-left: 2em;
}

.other-experience-unit .other-experience-period {
  margin-top: 1.6rem;
  margin-right: auto;
  display: block;
  text-align: end;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

/* Skills */
#skills {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.skills-container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.dev-skills,
.dev-envs,
.dev-ops {
  margin-left: 2rem;
}

.dev-skill,
.dev-env,
.dev-op {
  font-weight: var(--weight-semi-bold);
}

.dev-skill-items button,
.dev-env-items button,
.dev-op-items button {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border: 2px solid var(--clr-black);
  border-radius: 6px;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  cursor: pointer;
}

.dev-skill-items,
.dev-env-items,
.dev-op-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dev-skill-items img,
.dev-env-items img,
.dev-op-items img {
  width: 2rem;
  margin-right: 0.8rem;
}

/* Education */
#education {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.education-container {
  padding: 5px 0;
}

.education-container .education-unit {
  display: block;
  margin-left: 2em;
}

.education-unit .education-id {
  display: flex;
  flex-direction: row;
}

.education-unit .education-tit {
  margin-right: 2rem;
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  line-height: 1.2;
}

.education-unit .education-period {
  margin-top: 1.6rem;
  margin-right: auto;
  display: block;
  text-align: end;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.education-unit .education-details li {
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: var(--font-small);
  line-height: 1.4;
}

/* footer */
#footer {
  width: 714px;
  margin: 0 auto;
}

#footer .rights {
  text-align: center;
  padding-bottom: 10rem;
}
