/* Global */
:root {
  /* Color */
  --clr-white: #ffffff;
  --clr-light-white: #eeeeee;
  --clr-light-turquoise: #b6e4e698;
  --clr-blue: #73aace;
  --clr-light-pink: #f599d9ab;
  --clr-orange: #feb546;
  --clr-black: #000000;

  /* Font size */
  --font-xlarge: 3.2rem;
  --font-large: 2.6rem;
  --font-regular: 2.2rem;
  --font-small: 1.8rem;
  --font-xsmall: 1.4rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: var(--size-border-radius);

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--clr-white);
  font-family: "Open Sans", sans-serif;
}

/* Typography */
h1 {
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1.6rem 0;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 1.2rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.8rem 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.6rem 0;
}

strong {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: inherit;
  font-weight: var(--weight-bold);
  line-height: 1.8;
}

/* common style */
.underline {
  width: 100%;
  height: 1px;
  margin: 1.3rem 0;
  border: 1px solid var(--clr-light-white);
  background-color: var(--clr-light-white);
}

.sub-tit {
  padding-left: 1.2rem;
  border-radius: var(--size-border-radius);
  background-color: var(--clr-light-turquoise);
  line-height: 2;
  color: var(--clr-white);
}

/* content container */
#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
}

/* Header */
#header {
  width: 82.4rem;
  padding-top: 8rem;
  margin: 0 auto;
}

/* Navbar */
#navbar {
  display: none;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-black);
  padding: 1.6rem;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar-dark {
  background-color: var(--color-turquoise);
  padding: 0.8rem;
  z-index: 1;
}

.menu {
  display: flex;
}

.menu-item {
  padding: 0.8rem 1.2rem;
  margin: 0 0.4rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.menu-item.active {
  background-color: var(--color-dark-turquoise);
}

.menu-item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-turquoise);
}

.toggle-btn {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  display: none;
  font-size: var(--font-large);
  color: var(--color-white);
}

#main {
  width: 82.4rem;
  margin: 0 auto;
}

/* section */
.section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

/* container */
.container {
  padding: 0.5rem 0;
}

/* unit */
.container .project-unit,
.container .other-experience-unit,
.container .education-unit {
  display: block;
  margin-left: 2rem;
}

.container .experience-unit {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5rem;
}

/* identical contents */
.project-id,
.other-experience-unit .other-experience-id,
.education-unit .education-id {
  display: flex;
}

/* tit */
.project-unit .project-tit,
.other-experience-unit .other-experience-tit,
.education-unit .education-tit {
  margin-right: 2rem;
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  line-height: 1.2;
}

/* description */
.project-unit .project-details li,
.other-experience-unit .other-experience-details li,
.experience-unit .job-desc .job-details,
.education-unit .education-details li {
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: var(--font-small);
  line-height: 1.4;
}

/* link */
.project-unit .project-link,
.other-experience-unit .other-experience-link {
  margin-top: 1.6rem;
  display: block;
  text-align: end;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--clr-blue);
  text-decoration: underline;
}

/* perioid */
.project-unit .project-period,
.other-experience-unit .other-experience-period,
.education-unit .education-period {
  width: 21rem;
  margin-top: 1.6rem;
  margin-left: auto;
  display: block;
  text-align: start;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

/* intro */
#intro .container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4rem;
  align-items: center;
}

#intro .container img {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
}

.contacts_and_channels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.contacts h3,
.channels h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 2rem;
}

.contacts .contacts-items li,
.channels .channels-items li {
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.contacts-items li a,
.channels-items .channels-link a {
  font-size: var(--font-xsmall);
  margin-right: 0.8rem;
}

.container .greeting {
  margin-left: 3rem;
  font-weight: var(--weight-semi-bold);
}

.container .desc-items li {
  margin: 2rem 3rem;
  line-height: 1.4;
}

/* about */

/* projects */
.project-unit .solo_or_team {
  display: inline-block;
  margin-right: 2rem;
  padding: 0.6rem;
  text-align: center;
  border-radius: var(--size-border-radius);
  background-color: var(--clr-orange);
  line-height: 1.6;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  color: var(--clr-black);
}

.project-unit .project-used-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-unit .project-used-skills p {
  margin: 0.4rem 0.4rem;
  padding: 0.6rem;
  border-radius: var(--size-border-radius);
  background-color: var(--clr-light-pink);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  color: var(--clr-white);
}

/* skills */
#skills .container {
  display: flex;
  flex-direction: column;
}

.dev-skills,
.dev-etcs {
  margin-left: 2rem;
}

.dev-skill,
.dev-etc {
  font-weight: var(--weight-semi-bold);
}

.dev-skill-items button,
.dev-etc-items button {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border: 2px solid var(--clr-black);
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  cursor: pointer;
}

.dev-skill-items,
.dev-etc-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dev-skill-items img,
.dev-etc-items img {
  width: 2rem;
  margin-right: 0.8rem;
}

/* other experience */

/* experience */
.experience-unit .experience-intro {
  width: 22rem;
  margin-left: 2rem;
}

.experience-unit .job-id {
  margin-bottom: 3rem;
}

.experience-unit .job-id .job-company {
  margin-bottom: 2rem;
  font-weight: var(--weight-semi-bold);
}

.experience-unit .job-id .job-period {
  line-height: 1.4;
}

.experience-unit .job-desc .job-role {
  margin-bottom: 2rem;
  font-weight: var(--weight-semi-bold);
}

/* education */

/* footer */
#footer {
  width: 71.4rem;
  margin: 0 auto;
}

#footer .rights {
  text-align: center;
  padding-bottom: 10rem;
}
